<!--
  Generated template for the SkripsiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Pendataan Skripsi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<form #f="ngForm" (ngSubmit)="submitSkripsi(f)">
    
  <ion-grid>
    <ion-row style="background:#488aff; height:40px;">
      <h5 style="color:#f4f4f4;padding:10px;">DATA DIRI</h5>
    </ion-row>
  </ion-grid>

  <ion-item>
        <ion-label color="dark" fixed>Nama</ion-label>
        <ion-input type="text" name="nama" placeholder="Nama" required ngModel></ion-input>
  </ion-item>

  <ion-item>
        <ion-label color="dark" fixed>NIM</ion-label>
        <ion-input type="text" name="nim" placeholder="NIM" ngModel></ion-input>
    </ion-item>

    <ion-item>
          <ion-label color="dark" fixed>Judul Skripsi</ion-label>
          <ion-input type="text" name="judul" placeholder="Judul" ngModel></ion-input>
    </ion-item>

      <ion-item>
          <ion-grid item-content>
            <ion-row>
              <ion-col>
                <ion-label color="dark">Class of</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                  <ion-select name="optClass"  ngModel>
                     <!-- [(ngModel)]="class" -->
                      <ion-option value="2012">2012</ion-option>
                      <ion-option value="2013">2013</ion-option>
                      <ion-option value="2014">2014</ion-option>
                      <ion-option value="2015">2015</ion-option>
                    </ion-select>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-item>

      <ion-grid>
          <ion-row style="background:#488aff; height:40px;">
          <h5 style="color:#f4f4f4;padding:10px;">Pembimbing</h5>
          </ion-row>
        </ion-grid>

      <ion-item>
            <ion-label color="dark" fixed>Nama #1</ion-label>
            <ion-input type="text" name="nama1" placeholder="Pembimbing 1" ngModel></ion-input>
      </ion-item>

      <ion-item>
            <ion-label color="dark" fixed>Nama #2</ion-label>
            <ion-input type="text" name="nama2" placeholder="Pembimbing 2" ngModel></ion-input>
      </ion-item>
  
      <ion-item>
          <ion-radio [checked]="isChecked" (ionSelect)="changeValue($event)" value="lintas" name="lintas" item-left></ion-radio>
          <ion-label>Lintas Prodi</ion-label>
      </ion-item>

      <button ion-button type="submit" color="secondary" block>Submit</button>

</form>
</ion-content>
