<!--
  Generated template for the DataskripsiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Data Skripsi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-grid>

        <ion-row style="background:#488aff; height:40px;">
            <h5 style="color:#f4f4f4;padding:10px;">DATA SKRIPSI MAHASISWA</h5>
          </ion-row>

      <ion-row style="padding-left:40px;">
        <ion-col>
          <ion-label color="dark" fixed>Nama</ion-label>
        </ion-col>
        <ion-col>
          <ion-label color="dark">{{nama}}</ion-label>
        </ion-col>
      </ion-row>
       
      <ion-row style="padding-left:40px;">
          <ion-col>
            <ion-label color="dark" fixed>NIM</ion-label>
          </ion-col>
          <ion-col>
            <ion-label color="dark">{{nim}}</ion-label>
          </ion-col>
      </ion-row>

      <ion-row style="padding-left:40px;">
          <ion-col>
            <ion-label color="dark" fixed>Judul Skripsi</ion-label>
          </ion-col>
          <ion-col>
            <ion-label color="dark">{{judul}}</ion-label>
          </ion-col>
      </ion-row>

      <ion-row style="padding-left:40px;">
          <ion-col>
            <ion-label color="dark" fixed>Class Of</ion-label>
          </ion-col>
          <ion-col>
            <ion-label color="dark">{{class}}</ion-label>
          </ion-col>
      </ion-row>
        
      <ion-row style="padding-left:40px;">
          <ion-col>
            <ion-label color="dark" fixed>Pembimbing</ion-label>
          </ion-col>
          <ion-col>
            <ion-label color="dark">{{nama1}}</ion-label>
            <ion-label color="dark">{{nama2}}</ion-label>
          </ion-col>
      </ion-row>

      <ion-row style="padding-left:40px;">
          <ion-col>
            <ion-label color="dark" fixed>Lintas Prodi</ion-label>
          </ion-col>
          <ion-col>
            <ion-label color="dark">{{linpro}}</ion-label>
          </ion-col>
      </ion-row>

        <ion-row>
          <ion-col text-center>
              <button color="danger" (click)="closeModal(true)" ion-button outline small>
                  Close
              </button>
          </ion-col>
      </ion-row>

    </ion-grid>

</ion-content>
